*{
    margin:0;
    padding:0;

}
.container{
    width:1320px;
    margin:0 auto;
}   
body{
    background:#ffff;
}
.banner-part{
    background:#e6a4b2;
}
.banner-wrapper{
    display:flex;
}
.banner-img > img{
    width:400px;
}
.banner-text{
    margin-top:100px;
}
.banner-text h1{
    color:#272727;
    font-size:50px;
    font-weight:700;
    font-family: 'Open Sans', sans-serif;
    line-height:60px;
    padding-right:430px;
}
.banner-text p{
    color:#272727;
    font-size:16px;
    font-weight:400;
    font-family: 'Open Sans', sans-serif;
    line-height:24px;
    padding: 32px 310px 32px 0;
}
.banner-button .banner-button{
    color:#FFFFFF;
    font-size:16px;
    font-weight:400;
    font-family:'Open Sans', sans-serif;;
    background:#E55473;
    padding:20px 43px;
    border:none;
    border-radius:5px;
}
/* ============================banner part-end======================= */
/* .flower-top-text{
    margin:0 auto;  
    text-align:center;
} */
.flower-top-text > h2{
    color:#272727;
    font-size:30px;
    font-weight:500;
    font-family: 'Open Sans', sans-serif;
    line-height:24px;
    text-align:center;
    padding-top:160px;
    padding-bottom:24px;
}
.flower-top-text > p{
    color:#272727;
    font-size:16px;
    font-weight:400;
    font-family: 'Open Sans', sans-serif;
    line-height:24px;
    text-align:center;
    padding: 0 383px;
}
.flower-img {
	height: 426px;
	width: 427px;
	background: #e890bb;
    text-align:center;
    padding-top:30px;
    border-radius:216px 216px 0 0;
}
.flower-img img{
    height:426px;
}
.flower-wrapper{
    display:flex;
    justify-content:space-between;
}
.flower-item .two{
    background:#d67777;
}
.flower-item .three{
    background:#AEAD81;;
}
.flower-item{
    text-align:center;
}
.pink-flower-text h3{
    color:#272727;
    font: size 20px;        
    font-weight:500;
    font-family:'Open Sans', sans-serif;
    border-bottom:2px solid #272727;
    margin-bottom:10px;
    display:inline-block;
    padding-top:10px;
    cursor:pointer;
}
/* ===========================flower-part-end============= */
#flower-price-chart{
    padding-top:100px;
    padding-bottom:100px;
}
.flower-price-img > img{
    width:316px;
}
.flower-price-text{
    text-align:center;
    cursor:pointer;
}
.flower-price-text > h3{
    color:#272727;
    font-size:20px;
    font-weight:500;
    font-family:'Open Sans', sans-serif;;
}
.flower-price-text > h4{
    color:#272727;
    font-size:15px;
    font-weight:500;
    font-family:'Open Sans', sans-serif;;
}
.flower-price-chart-wrapper{
    display:flex;
    justify-content:space-between;
}
/* ============================flower-part-end======================= */    
 
.hot-deal-text{
    width:50%;
    text-align:center;
    margin-top:90px;
}
.hot-deal-text > h3{
    color:#272727;
    font-size:25px;        
    font-weight:700;
    font-family:'Open Sans', sans-serif;
    padding-bottom:10px;
}
.hot-deal-span-one{
    color:#E55473;
    font-size:25px;        
    font-weight:700;
    font-family:'Open Sans', sans-serif;
}
.hot-deal-text > P{
    color:#272727;
    font-size:16px;        
    font-weight:400;
    font-family:'Open Sans', sans-serif;
    padding:0 40px 10px 40px;
}
.hot-deal-item{
    display:flex;
    justify-content:space-around;
}
.hot-deal-button .hot-button{
    color:#FFFFFF;
    font-size:16px;
    font-weight:400;
    font-family:'Open Sans', sans-serif;;
    background:#E55473;
    padding:20px 43px;
    border:none;
    border-radius:5px;
}
/* ====================hot deal part end================= */
.whatsapp-text h3{
    color:#272727;
    font-size:20px;
    font-family:'Open Sans', sans-serif;;;
    line-height:24px;
    padding-bottom:10px;
}
.whatsapp-text p{
    color:#272727;
    font-size:16px;
    font-family:'Open Sans', sans-serif;;;
    line-height:24px;
    width:608px;
    margin:0 auto;
}
.whatsapp-text{
    text-align:center;
}
.img-wrapper{
    display:flex;
    justify-content:space-between;
    margin-top:30px;
}
.whatsapp-img img{
    width:316px;
}
/* ==========================whatsapp-img-part end============== */
#deals-part{
    margin-top:100px;
}
.deals-part-background{
    background:url("../images/Rectangle\ 9.png");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    padding-top:100px;
    padding-bottom:100px;
}
.deals-part-text h3{
    color:#272727;
    font-size:25px;
    font-weight:700;
    font-family:'Open Sans', sans-serif;;
    padding-bottom:10px;
}
.deals-part-text h4{
    color:#272727;
    font-size:16px;
    font-weight:400;
    font-family:'Open Sans', sans-serif;;
    padding-bottom:30px;
}
.deals-part-text{
    text-align:center;
}
.deals-input-item{
    text-align:center
}
.Subscribe-button{
    display:inline-block
}
.deals-input-item .input-span input{
    width:600px;        
    padding: 10px 0 10px 10px;
    border-radius:5px;
    border:none;
    margin-right:5px;
}
.Subscribe-button .Subscribe{
    color:#FFFFFF;
    font-size:16px;
    font-weight:400;
    font-family:'Open Sans', sans-serif;;
    background:#E55473;
    padding:8Jpx 31px;
    border:none;
    border-radius:5px;
}
/* ================whatsapp part end========================== */
#footer-part{
    background:#111010;
    padding-top:128px;
    padding-bottom:128px;
}
.footer-text h3{
    color:#E55473;
    font-size:30px;
    font-weight:600;
    font-family:'Open Sans', sans-serif;
    padding-bottom:10px;
}
.footer-text p{
    color:#FFFFFF;
    font-size:16px;
    font-weight:400;
    font-family:'Open Sans', sans-serif;
    width:700px;
    margin:0 auto;
    padding-bottom:20px;
}
.footer-text h4{
    color:#FFFFFF;
    font-size:14px;
    font-weight:400;
    font-family:'Open Sans', sans-serif;
    width:700px;
    margin:0 auto;

}
.footer-text{
    text-align:center;
}
.footer-span{
    color:#FFFFFF;
}